* {
    margin: 0;
    padding: 0;
}
:root {
    --blue: #055292;
    --darkblue: #020074;
    --white: #fff;
    --black: rgb(0, 0, 0);
    --lightlue: #aad2ff ; 
}
/* Hero Section Starts*/
.hero {
    color: var(--blue);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b6d0e6;
    height: 1000px;
}
ul {
    list-style: none;
}
a {
    color: var(--darkblue);
    text-decoration: none;
}
.container{
    position: relative;
    width: 3300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 7%;
    text-align: center;
}
.book {
    position: relative;
    width: 475px;
    height: 675px;
    perspective: 2500px;
    transform-style: preserve-3d;
}
.book-icon img{
    width: 275px;
    height: 100px;
    margin-top: 12.5px;
}
.writer img{
    float: right;
    width: 300px;
    height: 300px;
    margin-left: 25px;
}
.title{
   color: var(--white);
   font-size: 32.5px;
   font-weight: bolder;
   padding-top: 50px;
}
.heading{
    color: var(--white);
    margin-top: 25px;
}
.sub-title{
    color: var(--lightlue);
    margin-top: 25px;
    font-size: 35px;

}
.writer p{
    text-align: left;
    float: left;
    color: var(--white);
    margin-top: 200px;
    margin-left:37.5px;
    color: var(--white);
}
.writer i {
    color: var(--white);
}


.front li {
    background: white;
    border-radius: 25px;
}
.back li{
    background: linear-gradient(to bottom,  #031270, #0e23a2, #1e2b78, #3c4788, #003158);
    border-radius: 25px;
    width: 97.5% !important;
}
.page > li{
    background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1),
                inset -1px 0px 1px rgba(150, 150, 150, 0.2);
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    height: 100%;
    transform-origin: left center;
}
.front{
    transform: rotateY(-34deg) translateZ(8px);
    z-index: 1;
}
.back{
    transform: rotateY(-15deg) translateZ(-8px);
    z-index: -1;
}
.page li:nth-child(1){
    transform: rotateY(-28deg);
}
.page li:nth-child(2){
    transform: rotateY(-30deg);
}
.page li:nth-child(3){
    transform: rotateY(-34deg);
}
.page li:nth-child(4){
    transform: rotateY(-36deg);
}
.page li:nth-child(5){
    transform: rotateY(-36deg);
}
.front,
.back,
.front li,
.back li{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.front ,
.back{
    transform-origin: 0% 100%;
}
.front{
    transition: all 0.8s ease , z-index 0.6s;
}
.front li:last-child{
    transform: rotateY(180deg) translateZ(2px);
}
.page,
.page > li {
    position: absolute;
}
.page {
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
}
.page li{
    transition-duration: 0.6s;
}
.book:hover .front{
    transform: rotateY(-145deg) translateZ(0);
}
.book:hover > .page li:nth-child(1){
    transform: rotateY(-30deg);
    transition: 1.5s;
}
.book:hover > .page li:nth-child(2){
    transform: rotateY(-35deg);
    transition: 1.8s;
}
.book:hover > .page li:nth-child(3){
    transform: rotateY(-118deg);
    transition: 1.6s;
}
.book:hover > .page li:nth-child(4){
    transform: rotateY(-130deg);
    transition: 1.4s;
}
.book:hover > .page li:nth-child(5){
    transform: rotateY(-140deg);
    transition: 1.2s;
}
.frontcover {
    position: absolute;
    background: linear-gradient(to bottom,  #031270, #0e23a2, #1e2b78, #3c4788, #003158 );
    height: 100%;
    width: 101%;
    border-radius: 12.5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    margin-top: 300px;
    padding: 20px 30px;
    font-weight: bolder;
    background: var(--white);
    border-radius: 4px;
    box-shadow:  -3px -3px 5px 0px var(--darkblue),
    3px 3px 5px 0px var(--blue);
    text-align: center;
    transition: color 0.3s , border-color 0.3s;
}

.btn:hover{
    box-shadow: -3px -3px 5px 0px var(--white) inset,
    3px 3px 5px 0px var(--black) inset;
    color: var(--darkblue);
}

@media screen and (max-width: 720px) {

    .container{
        width: 2310px;
    }
    .book {
        width: 332.5px;
        height: 472.5px;
        perspective: 1750px;
    }
    .book-icon img{
        width: 192.5px;
        height: 70px;
        margin-top: 8.75px;
    }
    .writer img{
        width: 150px;
        height: 150px;
        margin-left: 17.5px;
    }
    .title{
       font-size: 22.75px;
       padding-top: 35px;
    }
    .heading{
       margin-top: 17.5px;
    }
    .sub-title{
       margin-top: 17.5px;
       font-size: 24.5px;
    }
    .writer p{
        margin-top: 100px;
        margin-left:16.25px;
        font-size:larger;
    }
    .front li {
        border-radius: 17.5px;
    }
    .frontcover {
        border-radius: 8.75px;
        border-top-right-radius: 17.5px;
        border-bottom-right-radius: 17.5px;
    }
    .btn{
        margin-top: 210px;
        padding: 14px 21px;
        border-radius: 7px;
    }
}
@media screen and (max-width: 480px) {

    .container{
        width: 1320px;
    }
    .book {
        width: 190px;
        height: 270px;
        perspective: 1000px;
    }
    .book-icon img{
        width: 110px;
        height: 40px;
        margin-top: 5px;
    }
    .writer img{
        width: 50px;
        height: 45px;
        margin-left: 10px;
    }
    .title{
       font-size: 13px;
       padding-top: 20px;
    }
    .heading{
       margin-top: 10px;
    }
    .sub-title{
       margin-top: 10px;
       font-size: 14px;
    }
    .writer p{
        margin-top: 2px;
        margin-left:15px;
    }
    .front li {
        border-radius: 10px;
    }
    .frontcover {
        border-radius: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .btn{
        margin-top: 120px;
        padding: 8px 12px;
        border-radius: 4px;
    }
}

/* Hero Section End */